.label {
    display: block; 
}
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
    and (max-device-width: 1024px) {
     /* Force table to not be like tables anymore */
        #contacts_table> tbody, th, td, tr {
        display: block;     
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #contacts_table > thead > tr > th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #contacts_table > tbody > tr{
        border: 1px solid #ccc;     
    }
    .panel-success {
         border: none;
    }
    #contacts_table > tbody > tr:nth-of-type(odd) {
    /*background: #f9f9f9;*/
    margin-top: 5px;
    margin-bottom: 5px;
    }
    #contacts_table > tbody > tr > td{
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 35%;
        white-space: normal;        
    }
    #contacts_table > tbody > tr > td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
 
    /*
        Label the data
        */
    #contacts_table > tbody > tr > td:nth-of-type(1):before {
        content: "In the office";
        margin-top: 10px;
        margin-bottom: 10px;}
    #contacts_table > tbody > tr > td:nth-of-type(2):before {
        content: "Name";
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contacts_table > tbody > tr > td:nth-of-type(3):before {
        content: "Contact details";
        margin-top: 10px;
        margin-bottom: 10px;    
    }
    #contacts_table > tbody > tr > td:nth-of-type(4):before {
        content: "On the field";
        margin-top: 10px;
        margin-bottom: 10px;    
    }
}