@media (min-width: 992px)
#contact-map.small-map iframe {
height: 200px!important;
}
@media (min-width: 768px)
#contact-map.small-map iframe {
height: 170px!important;
}
#contact-map.small-map iframe {
height: 140px!important;
}
@media (min-width: 992px)
#contact-map iframe {
height: 300px!important;
}
@media (min-width: 768px)
#contact-map iframe {
height: 260px!important;
}
#contact-map iframe {
width: 100%!important;
height: 240px!important;
display: block;
}