@CHARSET "ISO-8859-1";

td.fixtureDetailsTd {
	width: 70px;
	text-align: center
}

.viewFixtureTable {
	text-align: center
}

.fixture_search_date_field {
	width: 80px
}

.fixtureTable {
	text-align: center;
	width: 280px
}

td.fixtureMainTd {
	vertical-align: top;
	padding-top: 0px;
	margin: 0px;
	padding-bottom: 0px
}

.fixture-result-icon {
	border: 1px solid #999999;
	color: #fff;
	float: right;
	font-weight: bold;
	height: 20px;
	margin: 0px 2px 2px 0px;
	text-align: center;
	width: 20px
}

@media only screen and (min-width: 992px) {
	.no-right-pad .results-tbl {
		border-right: none
	}
	.no-left-pad .results-tbl {
		border-left: none
	}
	.result-table-wrapper .no-right-pad {
		padding-right: 0px !important
	}
	.result-table-wrapper .no-left-pad {
		padding-left: 0px !important
	}
}

@media ( min-width : 768px) and (max-width: 992px) {
	.result-table-wrapper .no-left-pad .table-bordered {
		border-top: 0px !important
	}
	.result-table-wrapper .no-right-pad .table-bordered {
		border-bottom: 0px !important
	}
}

.result-table-wrapper {
	padding-right: 15px !important
}

.result-table-wrapper {
	padding-left: 15px !important
}

.result-table-wrapper {
	border-top: 0px !important
}

.result-table-wrapper {
	border-bottom: 0px !important
}

.no-right-pad .results-tbl {
	border-right: 1px solid #dddddd !important
}

.no-left-pad .results-tbl {
	border-left: 1px solid #dddddd !important
}

.results_widget {
	overflow: hidden !important
}

/* .quick_search_label {
	font-size: 85%;
	margin-top: 4px !important;
	font-weight: normal
} */

.results_widget .lead {
	text-align: left !important
}

.results_widget .filler {
	height: 0px !important
}

.result_container {
	width: 100% !important
}

.result-table-wrapper .header {
	width: 100%;
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd
}

.result-table-wrapper .sub_header {
	width: 100%;
	padding: 5px;
	background: #eee;
	border: 1px solid #ddd
}

.results-tbl {
	border-top: 0px
}

.results-tbl tbody tr td {
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: none
}

.results-tbl tbody tr {
	cursor: pointer
}

.results-tbl {
	margin-bottom: 0px
}

.results-tbl tbody tr td.icon {
	width: 38px;
	white-space: nowrap;
	text-align: center;
	padding: 0px 0px;
	vertical-align: middle
}

.result-table-wrapper .header {
	padding: 5px 10px;
	background: #5b7ca9;
	color: #fff;
	border: 1px solid #ccc
}

.result-table-wrapper .sub_header {
	padding: 5px 10px;
	background: #ddd;
	border: 1px solid #ccc;
	border-top: 0px
}

.results-tbl>tbody>tr>td, .results-tbl>tfoot>tr>td {
	line-height: 1.7
}

.results-tbl .icon .D {
	background: #9fc5f8;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .L, .results-tbl .icon .red {
	background: #cf2a27;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .W, .results-tbl .icon .green {
	background: #029e10;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .T {
	background: #428bca;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .M {
	background: #ddd;
	color: #555;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .A {
	background: #aaa;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results-tbl .icon .X, .results-tbl .icon .C {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 2px 5px
}

.results_listing_ajax_pagination {
	margin-top: 5px
}

.results_widget .lead {
	text-align: center
}

.results_widget .form-group .col-xs-7 {
	margin-right: 0px;
	padding-right: 0px
}

.results_widget .filler {
	height: 20px
}

.quickSearchTable {
	width: 505px
}
td.quickSearchTd {
	width: 96px
}
@media only screen and (max-width: 767px) {
	.quick_search_label {
		font-size: 85%;
		margin-top: 4px !important;
		font-weight: normal
	}
		.quick_search_field>.row>[class^="col-"] {
		padding-right: 0px;
		padding-left: 0px
	}
}
.form-horizontal .control-label {
    padding-top: 0px;
}
.form-group .control-label {
    padding-right: 0px;
}
@media (min-width: 768px)
.form-horizontal .control-label {
    text-align: right;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}

.quick_search_label {
	margin-top: 8px !important;
	padding-left: 0px
}
.quick_search_field .search_text {
	width: 100%
}
.results_widget .search_form_wrapper .search_label {
	font-weight: bold;
	padding-right: 0px !important
}

.result-d {
	background: #ADD8E6
}

.result-l {
	background: #cf2a27
}

.result-w {
	background: #029e10
}

.result-t {
	background: #000080
}

.result-m {
	background: #555
}

.result-a {
	background: #aaa
}

.result-x {
	background: #000000
}

.result-green {
	background: #029e10
}

.result-red {
	background: #cf2a27
}

.result_container {
	background-color: #fff;
	padding: 5px;
	z-index: 1002;
	width: 70%;
	line-height: 15px;
	margin: 0 auto
}

h3.result_main_heading {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0
}

h4.result_sub_heading {
	font-weight: bold;
	line-height: 20px;
	margin: 5px 0;
	font-size: 13px
}

h4.result_sub_heading span {
	font-weight: normal;
	line-height: 15px;
	text-align: justify;
	font-size: 12px
}

div.result_innings_details {
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	font-size: 12px;
	margin-bottom: 10px
}

.result_summary_details {
	margin-bottom: 10px
}