body {
	color: #676767;
	background-color: #e9ece7;
	line-height: 1.5;
}

.container-fluid, .masthead {
	background-color: #fff;
}
.masthead {
	background: url(https://googledrive.com/host/0B70qndiGPyERfkpHZW44VHB5WVVfX3VWVzFKLWtVZGxpODE5VkxOa25laUlpSzFFRE1MMDA/cricket_ball_wallpaper_wide_crop.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
     padding-top:10px;
	/* padding-bottom:20px; */
	vertical-align: bottom; 
}
.masthead {
	/*min-height:270px;*/
	background-color:#254117;
	color:#FDD017;
  	text-shadow: 1px 2px 1px #000;
}

.masthead a, .masthead lead {
  	color:#FDD017;
}
.masthead h1 {
	margin-bottom: 2px;
}
.masthead h2 {
	margin-top: 5px;
	margin-bottom: 2px;
}
.masthead lead .lead {
margin-bottom: 5px;
}
#header_text{
background-color: rgba(245, 245, 245, 0.1);
}

#b_announce > div{
margin: 0 auto 10px;
background: none;
border: 2px solid #B5BAB3;
}
#b_announce > div > div.bx-viewport {
margin: 0 auto 0px;
}

#b_announce > div > div.bx-viewport > ul > li > div.bx-caption {
background: rgba(37,65,23,0.4);
text-align: right;
font-weight: bold;
}
#b_announce > div > div.bx-viewport > ul > li > div.bx-caption > span{
font-family: inherit;
color: #FDD107;
text-shadow: none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: #FDD017;
	background-color: #254117;
}
#TopPerfNavPills > li > a, #joinInfoNavPills > li > a {
padding: 10px 10px;
}
#OurTeams{
border: none;}
a {
	color: #254117;
	font-weight: normal;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
} 
 a:hover, a:focus{
	color: #254117;
	text-decoration: underline;
}

.horizontal-section-container {
	padding-top: 10px;
	padding-bottom: 10px
} 
 .centered-pills {
	text-align: center;
}
.centered-pills ul.nav-pills {
	display: inline-block;
}
.centered-pills li {
	display: inline;
}
.centered-pills a {
	float: left;
}
* html .centered-pills ul.nav-pills {
	display: inline;
}
*+html .centered-pills ul.nav-pills {
	display: inline;
}
#address_block{
margin-top: 20px;
padding-left: 65px;
}
.panel {
	margin-top: 10px;
}
.well {
	margin-top: 10px;
}
.section-container {
	padding-top: 20px;
	padding-bottom: 20px;
}
.hor-divider {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	border-top: 1px solid #eaebeb;
	height: 1px;
	line-height: 0;
}
.center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}
/* .bx-wrapper {
	position: relative;
	margin: 10px auto 30px;
	padding: 0;
} */
.bx-viewport ul {
  margin: 0;
  padding: 0;
}
.bx-wrapper .bx-caption {
background: rgba(37,65,23,0.6);
}
.bx-wrapper .bx-caption span {
font-family: inherit;
color: #FDD107;
}
.full-width-image {
display: block;
width: 100%;
height: auto;
}
.social-media-icons {
	display: block;
	margin: 1.7em 0;
	padding: 0;
	list-style: none
}
.social-media-icons>li {
	display: block;
	float: left;
	margin: 0 9px 9px 0;
	padding: 0
}
.social-media-icons>li>* {
	display: block;
	font-size: 1.4em;
	line-height: 40px;
	height: 40px;
	width: 40px;
	padding: 0;
	text-align: center;
	background: transparent;
	border: 1px solid #858585;
	color: #858585;
	-webkit-transition: all .4s;
	transition: all .4s
}
.social-media-icons>li>*:hover, #beneath-footer .social-media-icons>li>*:hover
	{
	color: #FDD017;
	border-color: #254117;
	background: #254117
}
.pcss3mm > li .fa {
	display: block;
	float: left;
	width: 10px;
	margin: 0 12px 0 -4px;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 17px;
  line-height: 52px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.pcss3mm .grid-container3 > ul > li .fa{
	display: block;
	float: left;
	width: 10px;
	margin: 0 12px 0 -4px;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
#team-stats-table-507346 > thead > tr > th:nth-child(1),
#batting-stats-table-509031 > thead > tr > th:nth-child(1),
#bowling-stats-table-507344 > thead > tr > th:nth-child(1),
#team-stats-table-507346 > tbody > tr > td:nth-child(1),
#batting-stats-table-509031 > tbody > tr > td:nth-child(1),
#bowling-stats-table-507344 > tbody > tr > td:nth-child(1),
#fielding-stats-table-510577 > thead > tr > th:nth-child(1),
#fielding-stats-table-510577 > tbody > tr > td:nth-child(1){
 display:none;
 }

.footer .bx-wrapper {
  margin: 20px auto 30px;
}
media ="screen"
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}
@media(max-width: 480px) {
.masthead {
		padding-top: 2px;
		max-height: 90px;
	}
	.container {
		padding-right: 2px;
		padding-left: 2px;
		margin-right: auto;
		margin-left: auto;
	}
	#header_logo_xs {
		max-width: 70%;
		max-height: auto;
		margin-top: 5px;
	}
	.masthead h1 {
		font-size: 13pt;
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.masthead h2 {
		font-size: 11pt;
		margin-top: 2px;
		margin-bottom: 2px;
	}
}

@media ( max-width : 410px) {
	.btn-responsive {
		padding: 2px 4px;
		font-size: 90%;
		line-height: 1;
		/*border-radius:3px;*/
	}
}
@media ( min-width : 992px) .section-container {
	padding-top:20px;
	padding-bottom:20px;
}
@media ( min-width : 768px) .section-container {
	padding-top:15px;
	padding-bottom:15px;
}
@media ( min-width :992px) {
	.social-media-icons>li>* {
		font-size: 1.7em;
		line-height: 50px;
		height: 50px;
		width: 50px
	}
}
@media screen and (min-width: 320px) {
/* 	.masthead h1 {
		font-size: 22px;
	} */
	#header_logo{
	margin-top: 5px;}
}
/* @media only screen and (min-width : 480px) {
	.masthead h1 {
		font-size: 32px;
	}
} */
@media screen and (min-width: 768px) {
	.masthead h1 {
		font-size: 42px;
	}
		#header_logo{
	margin-top: 10px;}	
}
@media(min-width:992px){
	.masthead h1 {
		font-size: 52px;}
	#header_logo{
	margin-top: 20px;}
}
.table-responsive>.table>thead>tr>th , .table-responsive >.table>tbody>tr>th , .table-responsive >.table>tfoot>tr>th , .table-responsive >.table>thead>tr>td , .table-responsive >.table>tbody>tr>td , .table-responsive >.table>tfoot>tr>td
{white-space: normal;}
.footer .bx-wrapper {
margin: 20px auto 30px;
}