.stats_table table {
	line-height: 1.5rem;
	background-color: #254117 !important;
}

#team-stats-table-507346>thead>tr>th>a, #team-stats-table-507346>thead>tr>th,
	#team-stats-table-507346>tbody>tr>td>a, #batting-stats-table-509031>tbody>tr>td>a,
	#bowling-stats-table-507344>tbody>tr>td>a, #batting-stats-table-509031>thead>tr>th,
	#bowling-stats-table-507344>thead>tr>th, #team-stats-table-507346>tbody>tr>td,
	#top_batting_performance_listing_507167>table>tbody>tr>td>a,
	#batting-stats-table-509031>thead>tr>th a,
	#top_batting_performance_listing_507167>table>tbody>tr>td,
	#batting-stats-table-509031>tbody>tr>td,
	#top_bowling_performance_listing_507168>table>tbody>tr>td,
	#top_bowling_performance_listing_507168>table>tbody>tr>td>a,
	#bowling-stats-table-507344>thead>tr>th>a, #bowling-stats-table-507344>tbody>tr>td
	{
	color: #FDD017;
}