body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;		/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.4em 0 .4em 0;
	padding:0;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}
dl,dd{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size:12px;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
	text-align:justify;
	font-family:Verdana, Geneva, Tahoma, sans-serif;	
}

/*---------affects all STATS widgets------*/
.table th, .table td{font-size:11px; color:#254117;line-height: 12px; padding: 4px;} 

.widget h3 {
    font-size: 12px;
    color:#254117;
    margin-top: 3px;
    
}


/*--------END OF-affects widgets------*/

img {
	vertical-align:middle;
}
#ads img {
	display:block;
	padding-top:10px;
}

div.img-container {
     width: 200px;
     height: auto;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
 }
 
img.cropped {
    /*position: absolute;*/
    margin: auto ;
        top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:block;
    padding-top:8px;
}

div.twitter-container {
     width: 260px;
     height: auto;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
     margin-top:1400px;
     
 }
/*--------for twitter live scores widget-------*/

.twitter_block {width: 200px;height: auto; position: relative;margin-left:auto; margin-right: auto; top:7px}

/*-------END OF for twitter live scores widget-------*/

/*--------for contact us positioning two images side by side in div-*/

.main_block {width: 200px;height: 125px; position: relative;margin-left:auto; margin-right: auto; top:7px}
.main_block:before,.main_block:after { overflow:hidden; content:""; display:table; }
.main_block:after { clear:both; }
.inner_block { display: inline-block; float:left;width:50%;padding-top:3px;padding-bottom:6px;}
.inner_block img { width:100%; height:auto; vertical-align:middle; }

/*------END-for contact us positioning two images side by side in div-*/

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
	border: 0.5px solid #dadada;
	box-shadow: 0px 0px 16px #FDD017;
	
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}

/* 3 Column settings */
.threecol {
	background:#254117;		/* right column background colour */
}
.threecol .colmid {
	right:25%;			/* width of the right column */	
	background:#fff;		/* center column background colour */
}
.threecol .colleft {
	right:55%;			/* width of the middle column */

	background:#254117;	/* left column background colour */
}
.threecol .col1 {
	width:53%;			/* width of center column content (column width minus padding on either side) */
	
	left:101%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:18%;			/* Width of left column content (column width minus padding on either side) */
	left:28%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
	
}
.threecol .col3 {
	width:23%;			/* Width of right column content (column width minus padding on either side) */
	left:85%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
	
}

/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
	background:#fff;
}
#footer p {
	padding:10px;
	margin:0;
}

/*--- my styles --*/

.h2gold{
	text-align:center;
    margin:.8em 0 .2em 0;
    padding:0;     
    color:#FDD017;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: inherit;
}

.h3green{
	text-align:center;
    margin:.8em 0 .2em 0;
    padding:0;     
    color:#254117;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: inherit;
}


.contact {text-shadow:1px -1px 0 rgba(255,255,0,1);font-weight:bold;color:#254117;background-color:#FDD017;
border: 1px outset #b5a759;letter-spacing:1pt;word-spacing:1pt;font-size:12px;text-align:justify;
font-family:verdana, sans-serif;line-height:1.5;padding:4px;width:600px;margin-left: 18px;}

  

/*----this is for accordian pics---*/
.page {
	margin: 0 auto;
	padding: 2px;
	/*---margin-top:330px ---UNUSED this is required to push down the content to place after the Fixtures widget---*/
}


/*----END OF this is for accordian pics end---*/

/*----To hide the search form of Fixtures widget---*/
 .widget form {
  position: absolute;
  top: -5000px;
  overflow-y: hidden;
  
}

/*----End of To hide the search form of Fixtures widget---*/

/*---hide the scrollbars for batting and bowling stats---*/
.bowling_stats_widget, .batting_widget, .fixtures_widget{position:absolute;z-index:100;}

#bowling_stats_543676,#batting_stats_543674{overflow-y: hidden;}
#team_stats_543668{overflow-x: hidden;}

/*---END OF hide the scrollbars for batting and bowling stats---*/

/*---For buttons---*/
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #254117), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #254117 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #254117 5%, #72b352 100%);
	background:-o-linear-gradient(top, #254117 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #254117 5%, #72b352 100%);
	background:linear-gradient(to bottom, #254117 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#254117', endColorstr='#72b352',GradientType=0);
	background-color:#254117;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#FDD017;
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	padding:6px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #254117));
	background:-moz-linear-gradient(top, #72b352 5%, #254117 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #254117 100%);
	background:-o-linear-gradient(top, #72b352 5%, #254117 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #254117 100%);
	background:linear-gradient(to bottom, #72b352 5%, #254117 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#254117',GradientType=0);
	background-color:#72b352;
	
}
.myButton:active {
	position:relative;
	top:1px;
}

.emailButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:10px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.emailButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
	color:#254117;
}
.emailButton:active {
	position:relative;
	top:1px;
}

/*---END OF For buttons---*/


