    .stats_table h4,
    .stats_table form,
    .stats_table h4,
    .stats_table table thead,
    .stats_table tr:not(:first-child),
    .stats_table tr td:first-child {
        display: none;
    }

    .stats_table table {
        border: none;
        padding: 0;
        line-height: 1.5rem;
    }

    .stats_table {
        overflow: hidden;
        border:  1px solid rgb(221, 221, 221);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 0.2rem 0.8rem;
        border-radius: 4px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
		box-shadow: 0 5px 15px #808080;
		background-color: #254117 !important;
    }

    .stats_table,
    .stats_table h3 {
        font-size: medium;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        text-align: left !important;
    }

    .stats_table h3 {
        margin-bottom: 2px;
		color:#FDD017;
    }

	.stats_table td a {
        color:#FDD017;
    }
    .table {
        margin-bottom: 0px;
    }

    .stats_table td {
        border: none;
        display: inline-block;
        padding: 0 0.3rem 0 0;
        /*background-color: white !important;*/
		background-color: #254117 !important;
		color:#FDD017;
		
    }

    .stats_table td.moveRight:before,
    .stats_table td.moveCenter:before {
        content: "("
    }

    .stats_table td.moveRight:after,
    .stats_table td.moveCenter:after {
        content: ")"
    }

    .batting_widget,
    .bowling_stats_widget,
    .fielding_stats_widget,
    .team_stats_widget {
        width: 260px !important;
        height: 60px !important;
        /*left: 15px !important;*/
		background: none;
    }
	

