body {
	color: #676767;
	background-color: #efefef;
}

.container-fluid, .masthead {
	background-color: #fff;
}

#mobile-header {
	display: none;
}

@media only screen and (max-width: 768px) {
	#mobile-header {
		display: block;
	}
	#nav_menu_div {
		display: none;
	}
	.sidr ul {
		/*display: block;*/
		margin: 0 0 15px;
		padding: 0;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #fff
	}
}

.centered-pills {
	text-align: center;
}

.centered-pills ul.nav-pills {
	display: inline-block;
}

.centered-pills li {
	display: inline;
}

.centered-pills a {
	float: left;
}

* html .centered-pills ul.nav-pills {
	display: inline;
} /* IE6 */
*+html .centered-pills ul.nav-pills {
	display: inline;
} /* IE7 */
.batting_widget  tr td:first-child, .bowling_stats_widget tr td:first-child,
	.batting_widget  tr th:first-child, .bowling_stats_widget tr th:first-child,
	.team_stats_widget  tr th:first-child, .team_stats_widget  tr td:first-child,
	.fixtures_widget tr th:nth-child(4), .fixtures_widget tr td:nth-child(4)
	{
	display: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: #FDD017;
	background-color: #254117;
}

a {
	color: #1d1d1d;
	font-weight: normal;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

a:hover, a:focus {
	color: #254117;
	text-decoration: underline;
}

.horizontal-section-container {
	padding-top: 10px;
	padding-bottom: 10px
}
/*	.hor-divider {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	border-top: 1px solid #eaebeb;
	height: 1px;
	line-height: 0
}	 */
@media ( max-width : 410px) {
	.btn-responsive {
		padding: 2px 4px;
		font-size: 90%;
		line-height: 1;
		/*border-radius:3px;*/
	}
}

media ="screen"
h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.panel {
	margin-top: 10px;
}

.well {
	margin-top: 10px;
}

@media ( min-width : 992px) .section-container {
	padding-top
	:
	 
	20
	px
	;
	

	padding-bottom
	:
	 
	20
	px
	;
	

}

@media ( min-width : 768px) .section-container {
	padding-top
	:
	 
	15
	px
	;
	

	padding-bottom
	:
	 
	15
	px
	;
	

}

.section-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hor-divider {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	border-top: 1px solid #eaebeb;
	height: 1px;
	line-height: 0;
}

.center {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.bx-wrapper {
	position: relative;
	margin: 10px auto 30px;
	padding: 0;
}

.stats_table table {
	line-height: 1.5rem;
	background-color: #254117 !important;
}

#team-stats-table-507346>thead>tr>th>a, #team-stats-table-507346>thead>tr>th,
	#team-stats-table-507346>tbody>tr>td>a, #batting-stats-table-507171>tbody>tr>td>a,
	#bowling-stats-table-507344>tbody>tr>td>a, #batting-stats-table-507171>thead>tr>th,
	#bowling-stats-table-507344>thead>tr>th, #team-stats-table-507346>tbody>tr>td,
	#top_batting_performance_listing_507167>table>tbody>tr>td>a,
	#batting-stats-table-507171>thead>tr>th a,
	#top_batting_performance_listing_507167>table>tbody>tr>td,
	#batting-stats-table-507171>tbody>tr>td,
	#top_bowling_performance_listing_507168>table>tbody>tr>td,
	#top_bowling_performance_listing_507168>table>tbody>tr>td>a,
	#bowling-stats-table-507344>thead>tr>th>a, #bowling-stats-table-507344>tbody>tr>td
	{
	color: #FDD017;
}