/*----To hide the search form of Fixtures widget---*/
 .widget form {
  position: absolute;
  top: -5000px;
  overflow-y: hidden;
  
}

/*----End of To hide the search form of Fixtures widget---*/

/*----Hide the Search form for News Widget---*/
.search-box-news {
  display:none !important; 
  }

 .news_widget{
 position: absolute !important;
 border: 5px solid #FFFFFF;
 box-shadow: 0 5px 15px #808080;
}
/*----End of Hide the Search form for News Widget---*/