  @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
  
    h1, h2, h3, h4 {
    	text-align:center;
        margin:.4em 0 .4em 0;
        margin:
        padding:0;
        color:#254117;
        /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
      }
    .h2gold{
    	text-align:center;
        margin:.8em 0 .2em 0;
        padding:0;     
        color:#FDD017;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

    }

    .greenp {
        margin:.4em 0 .8em 0;
        padding:0;
        color:#254117;
        text-align:justify;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:12px;
    }
   .goldp {
        margin:.4em 0 .8em 0;
        padding:0;
        color:#FDD017;
        text-align:center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:12px;
        font-weight:800;
    }


	/* column container */
	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	    clear:both;
	    float:left;
        width:100%;			/* width of whole page */
		height: 100%;
		overflow:hidden;	/* This chops off any overhanging divs */
		z-index:+1;
		border: 1px solid #dadada;
   		box-shadow: 0px 0px 6px #254117;
	}
	/* 2 column right menu settings */
	.rightmenu {
	    background:#254117;
	}
	.rightmenu .colleft {
        float:left;
        width:200%;
        margin-left:-200px;
        position:relative;
        right:100%;
        background:#fff;
    }
    .rightmenu .col1wrap {
	    float:left;
	    width:50%;
	    position:relative;
	    left:50%;
	    padding-bottom:1em;
	}
	.rightmenu .col1 {
	    margin:0 15px 0 215px;
        overflow:hidden;
	}
   .rightmenu .col2 {
        float:right;
        width:170px;
        position:relative;
        left:185px;
    }
    
    /*----this is for accordian pics---*/
.page{margin: 0 auto;padding: 10px;}

/*----this is for accordian pics end---*/
