	.batting_widget,
	.bowling_stats_widget,
	.fixtures_widget,
	.team_stats_widget{
        overflow: hidden;
		overflow-y: hidden;
		overflow-x: hidden;
        border:  0px solid rgb(221, 221, 221);
		-webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        padding: 0.2rem 0.8rem;
        border-radius: 4px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
		box-shadow: 0 5px 15px #808080;
		background-color: #254117 !important;
	    }
	.batting_widget table,
	.bowling_stats_widget table,
	.fixtures_widget table{
       /* border: none;*/
        padding: 0;
        line-height: 2.5rem;
		margin-bottom: 0px;		
    }
	.batting_widget table,
	.bowling_stats_widget table,
	.team_stats_widget table{
        border:  1px solid #9BBB9F !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
		border-radius: 4px;
    }
	.batting_widget h3,
	.bowling_stats_widget h3,
	.team_stats_widget  h3,
	.fixtures_widget h3
	{
        margin-bottom: 2px;
		color:#FDD017;
    }

	.batting_widget td a,
	.bowling_stats_widget td a,
	.team_stats_widget td a,
	.fixtures_widget  td a
	{
        color:#FDD017;
    }
	.batting_widget td a:hover ,
	.bowling_stats_widget td a:hover ,
	.team_stats_widget td a:hover ,
	.fixtures_widget  td a:hover 
	{
        color:#fff;
		background:none;
		text-decoration:none;
    }
	.news_widget td a:hover{
		background:none;
		text-decoration: underline;}	
	
    .batting_widget tr td , 
	.bowling_stats_widget  tr td,
	.team_stats_widget  tr td,
	.fixtures_widget tr td,
	.team_stats_widget tr td{
       	line-height: 16px !important;
        padding: 1px 1px 1px 3px!important;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 12px;
		background-color: #254117 !important;
		color:#FDD017;
		border-top: 1px solid #9CB5AA !important;}
	
	.batting_widget td.moveRight,
	.bowling_stats_widget td.moveCenter,
	.team_stats_widget td.moveRight
	{
        text-align: center;
		color: #FFFFFF;
    }
	.batting_widget  tr td:first-child ,
	.bowling_stats_widget tr td:first-child,
	.batting_widget  tr th:first-child ,
	.bowling_stats_widget tr th:first-child,
	.team_stats_widget  tr th:first-child,
	.team_stats_widget  tr td:first-child,
	.fixtures_widget tr th:nth-child(4),
	.fixtures_widget tr td:nth-child(4){
		display: none;
	}		
	.fixtures_widget table{
		table-layout: fixed;
		width: 245px !important;
		border: 1px solid #9CB5AA !important;
		}
	.fixtures_widget table th,
	.team_stats_widget table th,
	.batting_widget table th,
    .bowling_stats_widget table th
	{
		font-size: 11px;
		color:#FDD017 !important;
		
    }
	.fixtures_widget th, .fixtures_widget td {
		border-left: 1px solid #9CB5AA !important;
	}
	.team_stats_widget table th, .team_stats_widget table td,
	.batting_widget table th,.batting_widget table td,
    .bowling_stats_widget table th, .bowling_stats_widget table td{
		border-left: none !important;}
	
	.fixtures_widget tr th:nth-child(1),
	.fixtures_widget tr td:nth-child(1),
	.fixtures_widget tr th:nth-child(5),
	.fixtures_widget tr td:nth-child(5){
		width: 13px;
		overflow: hidden;
		text-overflow: clip;
		white-space: nowrap;
	}
	.fixtures_widget tr th:nth-child(2),
	.fixtures_widget tr td:nth-child(2),
	.fixtures_widget tr th:nth-child(3),
	.fixtures_widget tr td:nth-child(3){
		width: 35px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.fixtures_widget{
        width: 270px !important;
        height: 200px !important;
        background: none;
		overflow: hidden;
		overflow-x: hidden;
		}
	.batting_widget,
    .bowling_stats_widget{
        width: 270px !important;
		height: 270px !important;
        background: none;
		overflow: hidden;
		overflow-x: hidden;
	}
	.team_stats_widget table{
		table-layout: fixed;
		width: 245px !important;
	}
	.team_stats_widget tr th:nth-child(2),
	.team_stats_widget tr td:nth-child(2){
		width: 55px;
		overflow: hidden;
	/*	text-overflow: ellipsis;
		white-space: nowrap;*/
	}
	.team_stats_widget{
		width: 270px !important;
        height: 240px !important;
        background: none;
		overflow: hidden;
		overflow-x: hidden;
	}

	.bowling_stats_widget,
	.batting_widget,
	.fixtures_widget{position:absolute;z-index:100;}